.product-com{
    display: flex;
    border-bottom: 1px solid lightgray;
}
.product-info{
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: -10px;
}
.add-cart{
    background-color: goldenrod;
    width: 150px;
    height: 28px;
    border: 1px solid lightgray;
    border-radius: 4px;
}